@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Quicksand&display=swap');

:root{
    --primary-color:#b4d2e7;
    --secondary-color:#07004d;
    --accent1-color:#d7b377;
    --accent2-color:#535353;
    --heading-font:Merriweather, serif;
    --paragraph-font:Quicksand, sans-serif;
    --nav-background-color:#07004d;
    --nav-link-color: #eeeeee;
    --nav-hover-link-color:white;
    --nav-hover-background-color:#020887;
}

*{
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color:var(--accent2-color);
    text-align:center;
    margin:20px;
}

p{
    padding:20px;
    color:var(--secondary-color);
}

a {
    text-decoration: none;
    color:var(--secondary-color);
}

body{
    max-width:900px;
    background-color: var(--primary-color);
    margin:0 auto;
}

header{
    display:grid;
    grid-template-columns:250px 1fr;
    align-items:center;
}

nav{
    display:flex;
    gap:10px;
    justify-content: space-around;
}

nav a{
    display:block;
    flex:1 1 auto;
    background-color:var(--nav-background-color);
    color:var(--nav-link-color);
    text-align:center;
    padding:20px;
    font-size:1.2rem;
}

nav a:hover{
    color:var(--nav-hover-link-color);
    background-color:var(--nav-hover-background-color);
}

figcaption{
    text-align:center;
}

footer{
    text-align:center;
    display:grid;
    grid-template-columns: 1fr 32px 32px 32px;
    align-items:center;
    margin-top: 20px;
}

footer img{
    width:32px;
    height:auto;
}

form{
    width:400px;
    margin:0 auto;
    background-color:var(--accent1-color);
    display:grid;
    gap:20px;
    padding:40px;
    align-items:center;
    border-radius:10px;
}

input{
    padding:5px;
    width:100%;
}

label{
    padding:5px;
}

textarea{
    width:100%;
    padding:5px;
}

.hero {
    position: relative;
}

.hero img{
    display:block;
    width:100%;
    height:auto;
}

.hero h1{
    position:absolute;
    top:20px;
    left:250px;
}

.hero article{
    position:absolute;
    top:100px;
    background-color: rgba(215, 179, 119,0.8);
    width:90%;
    margin:5%;
}

.hero article > img{
    width:200px;
    float:right;
    margin:20px;
}

.adventure{
    display:flex;
    gap:10px;
}

.adventure img{
    max-width:100%;
}

.contact-info{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    justify-items: center;
}

.contact-info p{
    grid-column: 2;
}

.contact-info iframe{
    grid-column:3;
    grid-row: 1 / 4;

    border:0;
    width:400px;
    height:300px;
}

.employees{
    display:flex;
    gap:10px;
}

.employees img{
    max-width:100%;
}

.form-item{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    justify-content:center;
}

.label-before{
    display:flex;
}

.label-after{
    display:grid;
    grid-template-columns: 1fr 5fr;
}

.label-above{
    display:flex;
    flex-direction:column;
}

.label-above label{
    align-self:start;
    padding:0;
}

.action-call{
    position:relative;

}

.action-call img{
object-fit:cover;
object-position:0% 60%;
width:100%;
height:300px;
    
}

.action-call-text{
    position:absolute;
    top:30%;
    left:50%;
    background-color:rgba(0,0,0,0.5);
}

.action-call h1, .action-call h2{
    color:var(--nav-link-color)
}

.trips{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.trip-info{
    display:grid;
    grid-template-columns: 7fr 2fr;
    align-items:center;
    background-color: var(--accent1-color);
}

.trip-info img{
    width:200px;
    height:auto;
    padding:5px;
    grid-column:2;
    grid-row:1 / 3;
}

.trip-info h3{
    text-align:left;
    margin:0;
    padding-left:10px;
    align-self:flex-end;
    color:var(--secondary-color)
}

.trip-info p{
    align-self:flex-start;
    padding:10px;
}

.greeting{
    position:relative;
    width:100%;
}

.plan{
    position:relative;
    width:600px;
    height:240px;
}
.greeting img{
    display:block;
    object-fit:cover;
    width:100%;
    height:auto;
}

.plan img{
    display:block;
    object-fit:cover;
    width:100%;
    height:100%;
}

.greeting-text, .plan-text{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);

    display:flex;
    justify-content: center;
    align-items:center;
}

.greeting h1, .plan h2{
    color:white;
}

.actions{
    display:flex;
    justify-content: space-between;
    gap:10px;
}

.newsletter{
    width:300px;
    height:200px;
    padding:20px;
}

.newsletter h2{
    margin:0;
}

.info{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.info img{
    width:400px;
    height:auto;
}

input[type="radio"]{
    justify-self:end;
}

fieldset{
    border:0;
}

button{
    background-color: var(--secondary-color);
    color:white;
    font-size:1.25rem;
    width:200px;
    padding:10px;
    border-radius:10px;
    justify-self:center;
}

table{
    width:500px;
    margin:0 auto;
    text-align:center;
    border-collapse:collapse;
}

th, td{
    border:1px solid var(--secondary-color);
    padding:5px;
}

th{
    background-color:var(--accent1-color);
}

tbody > tr:nth-of-type(even) {
    background-color: rgba(255,255,255,0.5);
  }