@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Quicksand&display=swap');

:root{
    --primary-color:#2C423F;
    --secondary-color:#B4D2E7;
    --accent1-color:#7EA172;
    --accent2-color:#FFCF99;
    --heading-font:Merriweather, serif;
    --paragraph-font:Quicksand, sans-serif;
    --nav-background-color:#92140C;
    --nav-link-color: #bbbbbb;
    --nav-hover-link-color:white;
    --nav-hover-background-color:#c52b20;
}

body{
    font-family: var(--paragraph-font);
    max-width:960px;
    padding:20px;
    background-color: var(--primary-color);
    color:var(--secondary-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color:var(--accent2-color);
}

header{
    padding:20px;
    background-color:var(--accent1-color);
}

p{
    padding:20px;
}

nav{
    background-color:var(--nav-background-color);
    display:flex;
    justify-content:space-between;
}

nav a{
    display:block;
    color: var(--nav-link-color);
    text-decoration:none;
    padding:10px;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}